.logo{
    width: 100px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px  black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 490px;
}
li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color:white;
}
header li a:hover{
    color: aqua;
}
header li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background: #42d1f5;
    position: absolute;
    left: 20px;
    bottom: -5px;
}